django
djangorestframework
django-cors-headers
groq
python-dotenv
gunicorn
channels
channels-redis
daphne
celery
redis
jsonschema
dj-database-url
djangorestframework-simplejwt
google-auth
requests
cryptography